.container {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  /* flex: 0.2; */
  display: flex;
}

.contentContainer {
  margin-top: 25px;
  margin-bottom: 15px;
  position: fixed;
  width: 87%;
  left: 6%;
  /* flex: 0.2; */
}

.ProjectListings {
  flex: 1;
}

.Projectnum {
  position: relative;
  width: 158px;
  height: 22px;
  left: 6%;
  top: 35%;

  /* header 4 */

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}

.Requestnum {
  position: relative;
  width: 182px;
  height: 22px;
  left: 6%;
  top: 35%;

  /* header 4 */

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}

.addProject {
  position: relative;
  width: 28px;
  height: 28px;
  left: 60%;

  background: #3e80ff;
  border-radius: 6px;
  border: none;
}

.addProjecttxt {
  position: relative;
  width: 103px;
  height: 22px;
  left: 62%;

  /* header 4 */

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}

.addFilter {
  position: relative;
  width: 28px;
  height: 28px;
  left: 65%;

  background: #3e80ff;
  border-radius: 6px;
  border: none;
}

.addFiltertxt {
  position: relative;
  width: 86px;
  height: 22px;
  left: 67%;

  /* header 4 */

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}

.ProjContainer > * {
  margin-top: 2%;
  top: 300px;
  margin: 20px;
  width: 900px;
}
/* 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
