.ListingContainer {
  position: relative;
  padding: 28px;
  padding-bottom: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-right: 20px;
  /* off white F8F9FA */

  background: white;
  box-shadow: 0px 5px 15px rgba(200, 204, 209, 0.25);
  border-radius: 15px;
}

.ListingTitle {
  position: relative;
  /* width: 90%;
  height: 75px;
  top: 36px; */
  /* header 3 */

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  /* identical to box height */

  /* black 202122 */

  color: #202122;
}

.ListingNum {
  position: absolute;
  top: 53px;
  right: 60px;

  /* header 3 */

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}

.ListingAgencyName {
  position: absolute;
  width: 10%;
  height: 17px;
  left: 4%;
  top: 124px;

  /* font-family: Inter; */
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}

.ListingSummary {
  position: relative;
  margin-top: 10px;
  margin-bottom: 14px;

  /* header 5 */

  /* font-family: Inter; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}
.ListingInfoContainer {
  position: relative;
  flex-direction: row;
}
.ListingProgress1 {
  position: relative;
  width: 50%;
  height: 4px;
  left: 4%;

  /* white fff */

  background: #ffff;
  border-radius: 10px;
  z-index: 50;
}

.ListingProgress2 {
  position: relative;
  width: 90%;
  height: 8px;
  left: 3%;
  top: 91%;

  /* main blue 3E80FF */

  background: #3e80ff;
  border-radius: 10px;
}

.ListingTag1 {
  display: inline-block;
  position: relative;
  height: 22px;
  text-align: center;

  /* green success 2BDB91 */

  background: #2bdb91;
  border-radius: 4px;

  /* Inside Auto Layout */

  margin-right: 8px;
  padding: 3px 5px;
  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
}

.ListingTag2 {
  display: inline-block;
  position: relative;
  height: 22px;
  text-align: center;

  /* yellow warning FFCF3E */

  background: #ffcf3e;
  border-radius: 4px;

  /* Inside Auto Layout */

  margin-right: 8px;
  padding: 3px 5px;
  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
}
