#sidebar {
  background: #020509;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.sidebar__menu {
  padding: 2% 30px 2% 5px !important;
}

.sidebar__menu button {
  font-size: 150%;
  margin-right: 15px !important;
  margin-top: 15px !important;
}

.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;
  /* color: #E85B6B; */
}

.sidebar__img {
  display: flex;
  align-items: center;
}

.sidebar__title > div > img {
  width: 75px;
  object-fit: contain;
}

.sidebar__title > div > h1 {
  font-size: 18px;
  display: inline;
}

.sidebar__title > i {
  font-size: 18px;
  display: none;
}
.menuBtnInside {
  text-align: left;
  width: 100%;
  margin-left: 7px;
}
.largerIcon {
  font-size: 30px !important;
  /* margin-bottom: 10px !important; */
}
.sidebar__menu > h2 {
  color: #206e9e;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
}
.sidebar__menu > hr {
  color: #206e9e;
  border-bottom: 4px solid #206e9e;
}
.sidebar__link {
  color: #f3f4f6;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.active_menu_link {
  color: #206e9e;
  background-color: #d0eafa;
}

.active_menu_link a {
  color: #2a7db1;
}

.sidebar__link > a {
  text-decoration: none;
  color: #3d94ca;
  font-weight: 700;
}

.sidebar__link > i {
  margin-right: 10px;
  font-size: 18px;
  color: #3d94ca;
}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 978px) {
  #sidebar {
    display: none;
  }

  .sidebar__title > i {
    display: inline;
  }
}
