.navbar {
  /* background: #ffffff;
  grid-area: nav;
  height: 60px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 0px;
  border-bottom: 1px solid black;
  /* padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray; */
}

.navbar form {
  width: 47%;
  border: 1px solid rgb(95, 95, 95);
  border-radius: 5px;
  padding: 5px 15px;
}

.navbar form {
  margin-left: 25px;
}

.navbar form input {
  border: 0px;
  border-bottom: 2px solid black;
  margin-right: 15px;
  width: 90%;
}

.navbar form button.search-btn {
  background-color: #227e3e;
  border-radius: 150px;
  padding: 7px 12px;
  color: whitesmoke;
  transition: ease-in-out 0.3s;
}

.navbar form button.search-btn:hover {
  background-color: #37ac5a;
  padding: 7px 15px;
  transition: ease-in-out 0.3s;
  color: rgb(224, 221, 221);
}

.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid rgb(97, 97, 97);
  padding: 6px 20px;
}

div.navbar-right a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

div.navbar-right a.notification-btn {
  margin-right: 25px !important;
  border-radius: 5px;
  background-color: rgb(97, 97, 255);
  border: 2px solid rgb(80, 80, 255);
  color: white;
  /* height: 80% !important; */
  padding: 4px 10px;
  text-align: center;
}

.navbar__right > a > i {
  color: #a5aaad;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
}

.search_button {
  text-align: center;
  height: 45px;
  font-family: sans-serif;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  background-color: #227e3e;
  padding: 0 20px;
  margin: 5px 5px 0 0;
  cursor: pointer;
  font-weight: 900;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  z-index: 999;
}

/*
Starting css for hamburger styling
*/

.hamburger__menu {
  width: 36px;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu:hover > div {
  background: #3e80ff;
  box-shadow: 0px 5px 15px rgb(62 128 255 / 50%);
}

.hamburger__menu > div {
  width: 100%;
  height: 10%;
  background: #c8ccd1;
}
