.ProjectContainer {
    position: absolute;
    width: 500px;
    height: 25%;
    left: 6%;
    top: 38%;

    /* off white F8F9FA */

    background: #F8F9FA;
    box-shadow: 0px 5px 15px rgba(200, 204, 209, 0.25);
    border-radius: 12px;
}

.ProjectImage {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 36px;
    top: 36px;

    /* main blue 3E80FF */

    background: #3E80FF;
    border-radius: 8px;
}

.ProjectTitle {
    position: absolute;
    width: 107px;
    height: 29px;
    left: 124px;
    top: 53px;

    /* header 3 */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    /* black 202122 */

    color: #202122;
}

.ProjectNum {
    position: absolute;
    width: 68px;
    height: 29px;
    left: 243px;
    top: 53px;

    /* header 3 */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    /* dark gray text 54595D */

    color: #54595D;
}

.ProjectAgencyName {
    position: absolute;
    width: 10%;
    height: 17px;
    left: 4%;
    top: 124px;

    font-family: Inter;
    font-style: italic;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* dark gray text 54595D */

    color: #54595D;
}

.ProjectDescription {
    position: absolute;
    width: 90%;
    height: 17px;
    left: 4%; 
    top: 142px;

    /* header 5 */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    /* dark gray text 54595D */

    color: #54595D;
}
.ProjectInfoContainer {
    float: left;
}
.ProjectProgress1 {
    position: absolute;
    width: 350px;
    height: 4px;
    left: 4%;
    top: 94%;

    /* white fff */

    background: #FFFF;
    border-radius: 10px;
    z-index: 50;
}

.ProjectProgress2 {
    position: absolute;
    width: 700px;
    height: 8px;
    left: 3%;
    top: 93%;

    /* main blue 3E80FF */

    background: #3E80FF;
    border-radius: 10px;
}

.ProjectTag1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    
    position: absolute;
    width: 27px;
    height: 20px;
    left: 95%;
    top: 78%;
    
    /* green success 2BDB91 */
    
    background: #2BDB91;
    border-radius: 4px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.ProjectTag2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    
    position: absolute;
    width: 27px;
    height: 20px;
    left: 90%;
    top: 78%;
    
    /* yellow warning FFCF3E */
    
    background: #FFCF3E;
    border-radius: 4px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.TagName {
    position: static;
    width: 19px;
    height: 12px;
    left: 4px;
    top: 4px;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;

    /* black 202122 */

    color: #202122;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}