/* 
    Terms:
        lh = "ListingHeader"
*/

.container {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  /* flex: 0.2; */
  display: flex;
}

.divider {
  width: 75%;
  height: 0px;
  border: 2px solid #eaecf0;
  top: 100px;
  position: absolute;
  left: 10%;
}

.lh_container {
  /* background-color: #282c34; */
  height: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.lh_title {
  position: relative;
  width: 1000px;
  height: 44px;
  top: 15%;

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  /* black 202122 */

  color: #202122;
}

.lh_projectslink {
  position: relative;
  width: 73px;
  height: 22px;
  top: 25%;

  /* header 4 */

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* main blue 3E80FF */
  color: #c8ccd1;
}

.lh_requestslink {
  position: relative;
  width: 83px;
  height: 22px;
  top: 25%;
  left: 5%;

  /* header 4 */

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* gray C8CCD1 */

  color: #c8ccd1;
}

.lh_sortbtn {
  position: relative;
  width: 138px;
  height: 22px;
  left: 55%;

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border: none;
  /* identical to box height */

  /* dark gray text 54595D */

  /* color: #54595D; */
}

.lh_sortby {
  position: relative;
  width: 69px;
  height: 22px;
  left: 53%;

  /* header 4 */

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* gray C8CCD1 */

  color: #c8ccd1;
}
