/* 
    Terms:
        lh = "ListingHeader"
*/

.simple_container {
  margin-top: 25px;
  position: relative;
  /* flex: 0.2; */
}

.divider {
  width: 83%;
  height: 0px;
  border: 2px solid #eaecf0;
  position: relative;
}

.lh_container {
  /* background-color: #282c34; */
  height: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  left: 12%;
  width: 87%;
}

.lh_title {
  position: relative;
  width: 1000px;
  height: 44px;
  top: 16px;

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
  /* identical to box height */

  /* black 202122 */

  color: #202122;
}

.lh_projectslink {
  position: relative;
  width: 73px;
  height: 22px;
  top: 25%;

  /* header 4 */

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* main blue 3E80FF */
  color: #c8ccd1;
}

.lh_requestslink {
  position: relative;
  width: 83px;
  height: 22px;
  top: 25%;
  left: 5%;

  /* header 4 */

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* gray C8CCD1 */

  color: #c8ccd1;
}

.lh_sortmenu {
  position: relative;
  width: 138px;
  height: 24px;
  left: 53%;

  /* font-family: Inter; */
  font-style: normal;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 18px;
  border: none;
  /* identical to box height */

  /* dark gray text 54595D */

  /* color: #54595D; */
}

.lh_sortby {
  position: relative;
  width: 69px;
  height: 22px;
  left: 52%;

  /* header 4 */

  /* font-family: Inter; */
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* gray C8CCD1 */

  color: #c8ccd1;
}
