.ProjectContainer {
  position: relative;
  padding: 150px;
  margin-top: 30px;
  margin-bottom: 30px;

  /* off white F8F9FA */

  background: #f8f9fa;
  box-shadow: 0px 5px 15px rgba(200, 204, 209, 0.25);
  border-radius: 12px;
}

.ProjectImage {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 36px;
  top: 36px;

  /* main blue 3E80FF */

  /* background: #3e80ff; */
  border-radius: 8px;
}

.ProjectTitle {
  position: absolute;
  width: 400px;
  height: 50px;
  top: 36px;
  /* header 3 */

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  /* black 202122 */

  color: #202122;
}

.ProjectNum {
  position: absolute;
  top: 53px;
  right: 60px;

  /* header 3 */

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 29px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}

.ProjectAgencyName {
  position: absolute;
  width: 10%;
  height: 17px;
  left: 4%;
  top: 124px;

  font-family: Inter;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}

.ProjectSummary {
  position: absolute;
  width: 90%;
  height: 17px;
  left: 4%;
  top: 130px;

  /* header 5 */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* dark gray text 54595D */

  color: #54595d;
}
.ProjectInfoContainer {
  float: left;
}
.ProjectProgress1 {
  position: absolute;
  width: 350px;
  height: 4px;
  left: 4%;
  top: 92%;

  /* white fff */

  background: #ffff;
  border-radius: 10px;
  z-index: 50;
}

.ProjectProgress2 {
  position: absolute;
  width: 700px;
  height: 8px;
  left: 3%;
  top: 91%;

  /* main blue 3E80FF */

  background: #3e80ff;
  border-radius: 10px;
}

.ProjectTag1 {
  display: inline-block;
  position: relative;
  height: 22px;
  align-items: center;

  /* green success 2BDB91 */

  background: #2bdb91;
  border-radius: 4px;

  /* Inside Auto Layout */

  margin-right: 8px;
  padding: 3px 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
}

.ProjectTag2 {
  display: inline-block;
  position: relative;
  height: 22px;
  align-items: center;

  /* yellow warning FFCF3E */

  background: #ffcf3e;
  border-radius: 4px;

  /* Inside Auto Layout */

  margin-right: 8px;
  padding: 3px 5px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
}

.TagName {
  position: relative;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  margin: 0px 5px;

  /* black 202122 */

  color: #202122;

  /* Inside Auto Layout */
}
