.calendar-button {
    width: 4%;
    border: 0px;
    background-color: white;
    color: #C8CCD1;
    font-weight:bold;
    font-size: 18px;
    margin-right: 2%
}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 85%
}

.current-month {
    font-size: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 1%
}

.selected {
    color: #3E80FF !important;
    border-bottom: 3px solid #3E80FF;
    margin-bottom: -3px
}

.buttons {
    border-bottom: 3px solid #C8CCD1;
    width: 97%;
    margin-left: 1%;
}