.main-frame {

position: absolute;
width: 1304px;
height: 2420px;
left: 0px;
top: 0px;

}

.header {
    position: absolute;
    width: 256px;
    height: 44px;
    left: 15px;
    top: 32px;

    /* header 2 */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */


    /* black 202122 */

    color: #202122;
}

.projects-button {
    position: absolute;
    width: 73px;
    height: 22px;
    left: 18px;
    top: 112px;

    /* header 4 */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* gray C8CCD1 */

    color: #C8CCD1;
}

.requests-button {
    position: absolute;
    width: 83px;
    height: 22px;
    left: 141px;
    top: 112px;

    /* header 4 */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* main blue 3E80FF */

    color: #3E80FF;

    text-shadow: 0px 5px 15px rgba(62, 128, 255, 0.25);

}

.active-requests {
    position: absolute;
    width: 182px;
    height: 22px;
    left: 18px;
    top: 181px;

    /* header 4 */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* dark gray text 54595D */

    color: #54595D;
}

.sort {
    position: absolute;
    width: 69px;
    height: 22px;
    left: 1052px;
    top: 112px;

    /* header 4 */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* gray C8CCD1 */

    color: #C8CCD1;

}

.sort-system {
    position: absolute;
    width: 118px;
    height: 22px;
    left: 1132px;
    top: 112px;

    /* header 4 */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* dark gray text 54595D */

    color: #54595D;
}

.sorting {

position: absolute;
width: 36px;
height: 36px;
left: 1250px;
top: 105px;

}

.sorting svg {

    position: absolute;
    left: 25%;
    right: 25%;
    top: 35.75%;
    bottom: 33.33%;

    /* dark gray text 54595D */

    background: #54595D;
}

.filter {
    position: absolute;
    width: 86px;
    height: 22px;
    left: 1191px;
    top: 182px;

    /* header 4 */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    /* dark gray text 54595D */

    color: #54595D;
}