.container {
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  /* flex: 0.2; */
  display: flex;
}

.contentContainerRequests {
  margin-top: 25px;
  margin-bottom: 15px;
  position: relative;
  width: 88%;
  left: 6%;
  /* flex: 0.2; */
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
